<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Area</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <% include ../_headers.ejs %>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <style type="text/css">
          @media (min-width: 980px) {
              body {
                  padding-top: 60px;
                  border: 5px;
              }
          }
      </style>

  </head>
  <body>
     <% include ../_navbar.ejs %>

    <div class="container-fluid">
        <div id="logo" class="row-fluid cool-font">
            <h4>admin Card Management</h4>
            <br> <% if (message) { %>
            <p><%= message %></p>
            <% } %>
        </div>
        <a href="#"><span class="label" id="getUser">All Users</span></a>
        <a href="#"><span class="label" id="getCashCard">All Cards</span></a>
        <a href="#"><span class="label" id="getAllPayments">All Payments</span></a>
        <script>
            $('#getUser').click(function(e){
                e.preventDefault();
                ads.emit('adminrequest all', 'users');
            });
            $('#getCashCard').click(function(e){
                e.preventDefault();
                ads.emit('adminrequest all', 'cards');
            });
            $('#getAllPayments').click(function(e){
                e.preventDefault();
                ads.emit('adminrequest all', 'payments');
            })
        </script>
        <div class="row-fluid cool-font">
            <div class="span4 smallround">
                <form action="/admin/addcard" method="post">
                    <span class="label label-important">Issue a Card</span>
                    <br>      <br>
                <div class="controls controls-row">
                    <div class="span3">Username:</div>
                    <input type="text" name="touser" value="">
                </div>
                <div class="controls controls-row">
                    <div class="span3">Card ID:</div>
                    <input type="text" name="cardID" value="">

                </div>
                <div class="controls controls-row">
                    <div class="span3">Card Type:</div>
                    <input type="text" name="cardType" value="">
                </div>
                <div class="controls controls-row">
                    <div class="span3">Card Amount:</div>
                    <input type="text" name="cardAmount" value="">
                </div>
                <div class="controls controls-row">
                    <div class="span3">Card Condition:</div>
                    <input type="text" name="cardCondition" value="">
                </div>

            <input type="submit" class="btn btn-info btn-mini" value="add">
            </form>
            </div>
        </div>

    </div>
     <div class="row-fluid cool-font" id="customcontent">

     </div>
     <script>
         $( "#logo").addClass('animated fadeInLeft');
         var ads = io.connect(window.location.hostname);
         ads.on('adminrender', function(data){
             $('#customcontent').html(data.html);
         });
         ads.on('adminalert', function(data){
             $('#logo').html(data);
         });
     </script>
  </body>
</html>
