<style>
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .buttGroupWrap {
        text-align: center;
    }
</style>

<div class="alert center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Please make sure that you update your profile with your address.</strong>
</div>
<div class="row-fluid" id="wrap">
    <h3 class="jumbo cool-font">USD/BTC: <span id="targetPrice"></span><br></h3>
</div>
<script type="text/javascript" src="/js/countUp.js"></script>
<br>
<script type="text/javascript" src="/js/store.js"></script>
    <div class="row cool-font">

        <div class="span6 text-center">
            <img id="suicaPic" src="https://dl.dropboxusercontent.com/u/8869944/suimo/suica.png" class="img-responsive cardDisplayed">
            <p style="font-size: 18px; line-height: 1.72">Suica</p>
            <div class="btn btn-success btn-block btn-embossed cardDisplayed" id="suicaBuy" style="width: 50%">Buy Now</div>

            <div id="suicaPrice">
            <div class="buttGroupWrap">
                <div class="btn-group" id="bgroup">
                    <a href="#" id="suica1000" class="btn btn-default">&yen 1000</a>
                    <a href="#" id="suica5000" class="btn btn-default">&yen 5000</a>
                    <a href ="#" id="suica10000" class="btn btn-default">&yen 10,000</a>
                    <a href="#" id="suica20000" class="btn btn-default">&yen 20,000</a>
                </div>
                <div id="suicaDesc" />
                </div>
            </div>
        </div>
        <div class="span6 text-center">
            <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/passmo.png" class="img-responsive cardDisplayed">
            <div id="pasmoDesc">
            <div class="buttGroupWrap">
                <h3>Passmo</h3>
                <div class="btn-group">
                    <a href="#" class="btn btn-default">&yen 1000</a>
                    <a href="#" class="btn btn-default">&yen 5000</a>
                    <a href="#" class="btn btn-default">&yen 10,000</a>
                    <a href="#" class="btn btn-default">&yen 20,000</a>
                </div>
            </div>

            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
                mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                elit.</p>
            </div>
            <script>$('#pasmoDesc').hide()</script>
        </div>
    </div>


<script>
    socket.on("renderItem", function(data){
        console.log("rendering a card")
        $('#cardItem').html(data.data);
    });

    var from = 0;
    var to = 0;
    $.getJSON("https://data.mtgox.com/api/2/BTCUSD/money/ticker",function(result){
        to = result.data.last_all.value;
        from = result.data.last_all.value;
    })
    var demo;
    var updateCouter = function() {
        demo = null;
        from = to;
        $.getJSON("https://data.mtgox.com/api/2/BTCUSD/money/ticker",function(result){
            to = result.data.last_all.value
            demo = new countUp("targetPrice", from, to, 2, 10);
            demo.start();
        })
    }
    var c = function() {
        updateCouter();
        setTimeout(function() {
            d();
        }, 10000);
    }
    var d = function() {
        updateCouter();
        setTimeout(function() {
            c();
        }, 10000);
    }
    socket.emit('getCardItem', {cardType: "Suica"})
</script>