<div class="alert center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Please make sure that you update your profile with your address.</strong>
</div>
<div id="wrap" style="padding-bottom: 1%"><h3 class="jumbo cool-font">USD/BTC: <span id="targetPrice"></span></h3></div>

    <div class="row cool-font">
        <ul class="pager">
            <li>
                <a href="#" id="getPassmoChoices">Passmo</a>
            </li>
            <li>
                <a href="#" id="getSuicaChoices">Suica</a>
            </li>
        </ul><br>
        <div class="cool-font row" id="cardItem">

        </div>
    </div>

<script type="text/javascript" src="/js/countUp.js"></script>
<script>
    socket.on("renderItem", function(data){
        console.log("rendering a card")
        $('#cardItem').html(data.data);
    });

    var from = 0;
    var to = 0;
    $.getJSON("https://data.mtgox.com/api/2/BTCUSD/money/ticker",function(result){
        to = result.data.last_all.value;
        from = result.data.last_all.value;
    })
    var demo;
    var updateCouter = function() {
        demo = null;
        from = to;
        $.getJSON("https://data.mtgox.com/api/2/BTCUSD/money/ticker",function(result){
            to = result.data.last_all.value
            demo = new countUp("targetPrice", from, to, 2, 10);
            demo.start();
        })
    }
    var c = function() {
        updateCouter();
        setTimeout(function() {
            d();
        }, 10000);
    }
    var d = function() {
        updateCouter();
        setTimeout(function() {
            c();
        }, 10000);
    }
    socket.emit('getCardItem', {cardType: "Suica"})
</script>