
    <script>
    var ctx = $("#myChart").get(0).getContext("2d");
    new Chart(ctx).Doughnut(<%- JSON.stringify(chart) %>,{segmentStrokeWidth: 3});
    //var socket = io.connect(window.location.hostname);
    $("#checkStepB").click(function(){
        socket.emit('checkStepB');
    })
    $("#checkStepC").click(function(){
        socket.emit('checkStepC');
    })
    $("#checkStepD").click(function(){
        socket.emit('checkStepD');
    })
    $("#checkStepE").click(function(){
        socket.emit('checkStepE');
    })
    $("#checkStepF").click(function(){
        socket.emit('checkStepF');
    })
    $("#checkStepG").click(function(){
        socket.emit('checkStepG');
    })
    $("#clearChecklist").click(function(){
        socket.emit('clear_checklist');
    })
</script>

<div class="row-fluid cool-font" style="overflow: hidden;">
    <div class="span4"><p><b>Step 1:</b></p><p>Update Shipping address - so we know where to ship your Suica/Passmo Card</p>
            <br><br>
            <ul class="fa-ul">
                <% if (step_a) { %>
                <li><i class="fa-li fa fa-check-square-o"></i>Profile Updated </li>
                <% } else{ %>
                <li><a href="/settings" class="btn btn-small">Update Profile </a></li>
                <% } %>
            </ul>
        </div>
    <div class="span4"><p><b>Step 2:</b></p><p>Read Bitcoin Literature and get a bitcoin Wallet.  Here is something to get started: <br>
        <a href = "https://www.jreast.co.jp/e/pass/suica.html">JREast.co.jp</a><br>
        <a href="/info#xxbitcoin">More Info</a> </p>
            <ul class="fa-ul">
                <% if (step_b) { %>
                <li><i class="fa-li fa fa-check-square-o"></i>Read Everything </li>
                <% } else{ %>
                <li><a href="#"  id="checkStepB" class="btn btn-small">Got it, Will Read Everything</a></li>
                <% } %>
            </ul>
    </div>
    <div class="span4 "><p><b>Step 3:</b></p><p>Update your BTC wallet (Hopefully you already have one).<br>
        You can update your wallet info <a href="/settings">Here</a> </p><br> <br>
        <ul class="fa-ul">
            <% if (step_c) { %>
            <li><i class="fa-li fa fa-check-square-o"></i>Have a BTC Wallet</li>
            <% } else{ %>
            <li><a href="#"  id="checkStepC" class="btn btn-small">Got a BTC Wallet</a></li>
            <% } %>
        </ul>
    </div>
</div>

<div class="row-fluid cool-font">
    <div class="span4"><p><b>Step 4:</b></p><p>Get yourself a Suica Card at our card shop.  This is a great time
    to use Bitcoins :) </p><br><br>
        <ul class="fa-ul">
        <% if (step_d) { %>
            <li><i class="fa-li fa fa-check-square-o"></i>Order Placed</li>
        <% } else{ %>
            <li><a href="#"  id="checkStepD" class="btn btn-small">Check my Orders</a></li>
        <% } %>
        </ul>
    </div>
    <div class="span4 smallround" style="text-align: center">
        <div class="row-fluid">

            <b>SuiMo Service Completeness</b><br>
            <canvas id="myChart" width="120%" height="120%"></canvas>
        </div>
        <div class="row-fluid" style="text-align: right">
            <a href="#" id="clearChecklist" class="btn btn-mini">reset</a>
        </div>

    </div>
    <div class="span4">
        <p><b>Step 5:</b></p><p>Receive your card.  Yep - I got it.  Or Nope - what are you guys doing, I didnt
        get shit yet.</p> <br><br>
        <ul class="fa-ul">
        <% if (step_e) { %>
            <li><i class="fa-li fa fa-check-square-o"></i>Card Received</li>
        <% } else{ %>
            <li><a href="#"  id="checkStepE" class="btn btn-small">Card Received</a></li>
        <% } %>
        </ul>
    </div>
</div> .

<div class="row-fluid cool-font">
    <div class="span4 "><p><b>Step 6:</b></p><p>Enjoy Japan.  Mail us the card back.  Yep, I mailed the card already.  Keep an eye out.
    Waitin' for my refund now.</p>
        <ul class="fa-ul">
        <% if (step_f) { %>
            <li><i class="fa-li fa fa-check-square-o"></i>My Suica/Passmo Card is Mailed</li>
            <% } else{ %>
            <li><a href="#"  id="checkStepF" class="btn btn-small">Card Mailed</a></li>
        <% } %>
        </ul>
    </div>
    <div class="span4"><p><b>Step 7:</b></p><p>Epic Sweet.  I got my refund back.  What am I doing now?  I'm kinda done with you guys</p>
        <ul class="fa-ul">
        <% if (step_g) { %>
            <li><i class="fa-li fa fa-check-square-o"></i>Sweet, got my Refund</li>
            <% } else{ %>
            <li><a href="#"  id="checkStepG" class="btn btn-small">Waiting for Refund</a></li>
        <% } %>
        </ul>
    </div>
    <div class="span4 "><p><b>Step 8:</b></p><p>I guess I'm done.  Nothing left to do but to get all of my information out of your
    servers.  Delete my account and all data NOW! </p>
        <a href="#"  id="checkStepH" class="btn btn-small">
            Delete Everything
        </a>
    </div>
</div>

