<div class="row-fluid footer" id="footer">
    <div class="span6"><a href="/privacy">Privacy Policy</a> </div>
    <div class="span6"><a href="/cookiepolicy">Cookie Policy</div></a>
    <div class="row-fluid hidden-tablet hidden-phone" style="padding: 1%" id="branding">
        <!--<div class="span4"></div>-->
        <div class="span4 offset4">
            <div class="span3">
                <img  class="greyBranding" src="https://dl.dropboxusercontent.com/u/8869944/suimo/coinbase_gray_logo.png"
                      data-toggle="tooltip" title="Payments through Coinbase" id="coinbaselogo">
            </div>
            <div class="span3">
                <a href="https://github.com/capusta/suimo/"> <img class="greyBranding" src="https://dl.dropboxusercontent.com/u/8869944/suimo/github_logo.png"
                                                                  data-toggle="tooltip" title="Versioned on Github" id="githublogo"> </a>
            </div>
            <div class="span3">
                <img  class="greyBranding" src="https://dl.dropboxusercontent.com/u/8869944/suimo/openshiftlogo.png"
                      data-toggle="tooltip" title="Hosted on OpenShift" id="openshiftlogo">
            </div>
            <div class="span3">
                <img class="greyBranding" src="https://dl.dropboxusercontent.com/u/8869944/suimo/nodejs_gray_logo.png"
                     data-toggle="tooltip" title="Made with Node JS" id="nodelogo">
            </div>
        </div>
    </div>
    <script>$('#coinbaselogo, #githublogo, #openshiftlogo, #nodelogo').tooltip({ animation: true, html: true})</script>
</div>