<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#topMenu">
                <span class="fa fa-align-justify"></span>
            </button>

            <% if (locals.user) { %>

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#sideMenu">
                <span class="fa fa-th-list"></span>
            </button>
            <% } %>

            <a class="brand" href="/">SuiMo!</a>
            <div class="nav-collapse collapse" id="topMenu">
                <ul class="nav">
                    <li><a href="/userhome">Home</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/info#xxbitcoin">What is bitcoin?</a></li>
                            <!-- <li class="divider"></li> -->
                            <li class="nav-header">Other</li>
                            <li><a href="/info#xxquestions">Questions</a></li>
                            <li><a href="http://www.reddit.com/r/suimo">/r/suimo</a></li>
                        </ul>
                    </li>
                </ul>
                <% if (!locals.user) { %>
                <% include _navbarform.ejs %>
                <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>