<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Buy Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">

    <link href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/site.css' />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" type="text/css" />

    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/animate.css" />
      <style type="text/css">
          @media (min-width: 980px) {
              body {
                  padding-top: 60px;
                  border: 5px;
              }
          }
      </style>
  </head>
  <body>
  <div class="alert center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Please make sure that you update your profile with your address.</strong>
  </div>
  <br>
        <div class="box-shadow">
        <br><br>test
        </div>
        <div class="row-fluid"><span class="label animated" id="cardshop">Card Shop</span></div>
        <div class="span3 center">
            <br><p>Verification Card - Y50 (refunded)</p>
            <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/suicaimg.jpg" width="70%"><br>
            <a class="coinbase-button" data-code="3d21915e04aa1b8f848dd681e62de9f1" data-button-style="buy_now_small"
            data-custom="<%= u %>" href="https://coinbase.com/checkouts/3d21915e04aa1b8f848dd681e62de9f1">Pay With Bitcoin</a>
            <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
        </div>
        <div class="span3 center">
              <br><p>Test2 of Y44</p>
              <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/suicaimg.jpg" width="70%"><br>
            <a href="https://coinbase.com/checkouts/a9633f415c2912c62e7a508bd71feb83?custom=<%= u %>" target="_blank">Pay With Bitcoin</a>


          </div>
        <div class="span3 center">
              <br><p>Test3 of Y44</p>
              <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/suicaimg.jpg" width="70%"><br>
              <a class="coinbase-button" data-code="82eff7348101466e5bf1bef21bd93964" data-button-style="buy_now_small"
                 data-custom="<%= u %>" href="https://coinbase.com/checkouts/50f9c3a0f04fb7e7d3f358c2ff9c4c99" data-target="_parent">Pay With Bitcoin</a>
              <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>


          </div>
      </div>

  <script>
            $("#cardshop").addClass('animated fadeInLeft');
  </script>
  </body>
</html>
