<!DOCTYPE html>
<html lang="en">
<head>
<% include _headers.ejs %>
    <style type="text/css">

        @media (min-width: 980px) {
            body {
                padding-top: 60px;
                border: 5px;
            }
        }
    </style>
</head>
<body>
<% include _navbar.ejs %>
<div class="container-fluid">
    <div class="row-fluid cool-font">
        <p></p><b>Privacy policy</b></p>
        <p>
        This privacy statement discloses the privacy practices for the data retrieval on suimo.pw. Please contact us
        if you have any questions.  In this document, the use of the word "we" or "us" refers to the operators of suimo.pw.
        The usage of the word "you" refers to you (the user) or the end recipient of our services.
        </p>

        <p></p><b> 1. Introduction </b></p>

        <div class="span5">
            SuiMo is committed to ensuring that your privacy is protected 100%. Any personally identifiable information
            is handled by us (SuiMo) in accordance with this privacy policy.
        </div>
        <div class="span5">
            SuiMo may change this policy from time to time by updating this page. Please check this page from time to time
            to ensure that you are aware of any changes.
        </div>
    </div>
    <br>
    <div class="row-fluid cool-font">

        <p>The purpose of this statement is to inform you as to:</p>
        <ul>
            <li>What kinds of information SuiMo collects from its users and how such information is collected.</li>
            <li>Details of any disclosures made by us of user information to third parties.</li>
            <li>Where we store your personal data.</li>
            <li>The security procedures implemented by us to protect your personal information</li>
        </ul>

        <p><b>2. What information do we collect and how?</b></p>
        <p>
            When you create an account and/or place an order with Suimo, personal details (eg name, email, bitcoin address,
            shipping address, etc... ) are used for your account verification, trust and security, order accountability,
            and transparency. We store these details on our servers on OpenShift.
        </p>
        <p>
            We will not collect nor process any additional information about you other than the information (volutarily) asked
            in your use profile.  We will <b>never</b> ask you to participate in any surveys for any purposes.
        </p>

        <p><b>3.  Account deletions.</b></p>
        <p>
            When your user account is deleted, we usually keep a record of your orders - to include your username and Coinbase
            order number.  This information is part of a purchase order.  We will never retain:
            <ul>
            <li>Passwords</li>
            <li>Messege Histories</li>
            <li>User account details</li>
            <li>User mailing address</li>
            </ul>
            You may request that any associated orders are deleted.  Please note that after deletion, any record is non-recoverable.
        </p>

        <br>
        <b>3. How do we use and disclose your information?</b>
        <br>
        <p>
            We use your email to provide account notifications, notifications of orders, password resets, and account deletion requests.
            We may occasionally use your email to provide you with site update information.
        </p>
        <p>
            We will <b>never</b> disclose, sell, or distribute your personal information to third parties.  If we are under a duty to
            disclose your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and
            other agreements; or to protect the rights, property, or safety of SuiMo, our customers, or others.
            This includes exchanging information with other companies and organisations for the purposes of fraud protection.
        </p>

        <br>
        <p><b>4. Security</b></p>
        <p>
            We are committed to ensuring that your information is secure. We have put in place the electronic and cryptographic procedures
            to safeguard and secure the information we collect so as to prevent unauthorised access or disclosure of personal data.
            <br>
            All information you provide to us is stored on our secure OpenShift servers and we will do our very best to protect your personal
            data. However we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk.
        </p>

        <p></p><b>5. Limits on our abilities. </b></p>
        <p>
            Although we will try our best to ensure that your personal information is always secure, we cannot ensure 100% that
            your private communications and other personal data will not be disclosed to third parties.
            We may have to disclose data to the government or third parties in certain circumstances, or certain parties may illegally
            intercept or access transmissions or private communications. Additionally, we can disclose any information about you to law
            enforcement or other government officials as we, in our sole discretion, believe necessary to investigate or
            resolve possible inquiries as in accordance with this document.
        </p>
        <p>
            If you believe that any information we are holding on you is incorrect or incomplete, please write to or
            email us as soon as possible. We will promptly correct any information found to be incorrect.
        </p>

    </div>
    <% include _footer.ejs %>
</div>

</body>
</html>
