<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">-->

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/bootstrap-responsive.css" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" type="text/css" />

    <script type="text/javascript" src="/jquery.js"></script>
      <script type="text/javascript" src="/bootstrap.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/Chart.js"></script>
    <link rel="stylesheet" href="/animate.css" />
      <link rel='stylesheet' href='/site.css' />

      <style type="text/css">
          @media (min-width: 980px) {
              body {
                  padding-top: 60px;
              }
          }
          .carousel-control {
              top: 90%;
          }
      </style>
      <script>
          var socket = io.connect(window.location.hostname);
          socket.on('my_username', function(u){
              $('#welcome').text(u.username);
              socket.emit("get_data");
          })
          socket.on('push_dashboard', function(){
              //we need to re-query the possibly new data
              socket.emit("get_data");
          })
          socket.on('render', function(data){
              $('#customcontent').html(data.data)
          })
      </script>
  </head>
  <body>
     <% include _navbar.ejs %>
     <div class="container-fluid-full">
         <div class="row-fluid">
             <div class="span2">

                 <div class="collapse nav-collapse" id="sideMenu" >
                     <ul class="nav nav-pills nav-stacked nav-justified" id="sidebarUL">

                         <li><a href="#" id="displaycards">
                                     <i class="fa fa-credit-card"></i> Cash Cards</a>
                             </li>
                         <li><a href="#" id="displaymyprofile"><i class="fa fa-user"></i>
                                 Profile
                             </a></li>
                         <li><a href="#" id="displaymymesseges"><i class="fa fa-envelope-o"></i>
                                 Messeges
                             </a></li>
                         <li><a href="#" id="displayorders"><i class="fa fa-list-ul"></i>
                                 My Orders
                             </a></li>
                         <li><a href="#" id="displayshop"><i class="fa fa-shopping-cart"></i>
                                 Card Shop
                             </a></li>
                         <li><a href="/logout" id="displayshop"><i class="fa fa-sign-out"></i>
                                 Log Out
                             </a></li>
                     </ul>
                 </div>
             </div>
             <div id="logo" class="cool-font span9">
                 <h4 id="welcome"> </h4>
                 <% if (message) { %>
                  <%= message %>
                 <% } %>
             </div>
             <div class="span9" style=" padding-bottom: 5px" id="customcontent" />
         </div>
    </div>
     <script>
         $( "#logo").addClass('animated fadeInLeft');
         $("#displaycards").click(function(){
             socket.emit("get_mycards")
         })
         $("#displaycards").on('show', function(){
             alert("shit")
         })
         $("#displaymyprofile").click(function(){
             socket.emit("get_profile")
         })
         $("#displaymymesseges").click(function(){
             socket.emit("get_messeges")
         })
         $("#displayshop").click(function(){
             socket.emit('checkStepA');
             socket.emit('get_shop');
         })
         $("#displayorders").click(function(){
             socket.emit('get_orders');
         })


     </script>
  </body>
</html>
