<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Suimo!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <% include _headers.ejs %>
      <link rel="stylesheet" href="/bootstrap-responsive.css" />
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>


      <style type="text/css">
          @media (min-width: 980px) {
              body {
                  padding-top: 60px;
              }
          }
      </style>
      <script>
          var socket = io.connect(window.location.hostname);
          socket.on('hello', function(){
              socket.emit("get_data");
          });
          socket.on('repeat', function(cmd){
              socket.emit(cmd)
          });
          socket.on('push_dashboard', function(){
              //we need to re-query the possibly new data
              socket.emit("get_data");
          });
          socket.on('render', function(data){
              $('#spinhere').html('');
              $('#customcontent').html(data.data);
          });
          socket.on('rendershop', function(data){
              $('#spinhere').html('');
              $('#customcontent').html(data.data);
              // c , below, starts our mutually recursive exchange rate functions
              c();
          });
          socket.on('new mail', function(){
              $('#messegebadge').show();
          });
          var opts = {
              lines: 11, // The number of lines to draw
              length: 5, // The length of each line
              width: 9, // The line thickness
              radius: 14, // The radius of the inner circle
              corners:.9, // Corner roundness (0..1)
              rotate: 52, // The rotation offset
              direction: 1, // 1: clockwise, -1: counterclockwise
              color: '#CCFFE5', // #rgb or #rrggbb or array of colors
              speed: 0.5, // Rounds per second
              trail: 93, // Afterglow percentage
              shadow: false, // Whether to render a shadow
              hwaccel: false, // Whether to use hardware acceleration
              className: 'spinner', // The CSS class to assign to the spinner
              zIndex: 2e9, // The z-index (defaults to 2000000000)
              top: 'auto', // Top position relative to parent in px
              left: 'auto' // Left position relative to parent in px
          };
          var spinner = new Spinner(opts).spin();
      </script>
  </head>
  <body>
     <% include _navbar.ejs %>
     <div class="container-fluid-full">
         <div class="row-fluid">
             <div class="span2">

                 <div class="collapse nav-collapse" id="sideMenu" >
                     <ul class="nav nav-pills nav-stacked nav-justified" id="sidebarUL">

                         <li><a href="#" id="displaycards">
                                     <i class="fa fa-credit-card"></i> Cash Cards
                                         <% if (user.hasCashCardAlert()) {%>
                                         <span class="badge badge-info" id="cardbadge">!</span> <%}%> </a>
                             </li>
                         <li><a href="#" id="displaymyprofile"><i class="fa fa-user"></i>
                                 Profile
                             </a></li>
                         <li><a href="#" id="displaymymesseges"><i class="fa fa-envelope-o"></i>
                                 Messeges <span class="badge badge-warning" id="messegebadge">!</span>
                             </a></li>
                         <li><a href="#" id="displayorders"><i class="fa fa-list-ul"></i>
                                 My Orders
                             </a></li>
                         <li><a href="#" id="displayshop"><i class="fa fa-shopping-cart"></i>
                                 Card Shop
                             </a></li>
                         <li><a href="/logout" id="displayshop"><i class="fa fa-sign-out"></i>
                                 Log Out
                             </a></li>
                     </ul>
                 </div>
                 <div id="spinhere" style="left: 50%; position: relative; padding-top: 30%"></div>
             </div>
             <div class="span9" style=" padding-bottom: 5px" id="customcontent">.</div>
         </div>
    </div>
     <script>
         var spinIt = function(){
             $("#spinhere").html(spinner.el);
         };
         $( "#logo").addClass('animated fadeInLeft');
         $("#displaycards").click(function(e){
             e.preventDefault();
             spinIt();
             socket.emit("get_mycards");
         });
         $("#displaymyprofile").click(function(e){
             e.preventDefault();
             spinIt();
             socket.emit("get_profile")
         });
         $("#displaymymesseges").click(function(e){
             e.preventDefault();
             spinIt();
             socket.emit("get_messeges");
         });
         $("#displayshop").click(function(e){
             e.preventDefault();
             spinIt();
             socket.emit('checkStepA');
             socket.emit('get_shop');
         });
         $("#displayorders").click(function(e){
             e.preventDefault();
             spinIt();
             socket.emit('get_orders');
         });
         $("#spinhere").html(spinner.el);
         $('#messegebadge').hide();
     </script>
  </body>
</html>
