p.lead {
    padding-top: 5px;
    text-align: center;
}
div.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.centermebitch {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display: inline-block; }
.centered-pills li { display: inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100px;
}
div.addthis_toolbox {
    width:180px;
    margin: 0 auto;
}
div.nudgeleft {
    padding-right: 30px;
}
.navigation, .pitch, .section1, .section2, .faq {
    padding: 1% 0px 1% 0px;
}
.smallround {
    padding: 2px;
    border: 1px solid;
    border-color: #888888;
    border-radius: 3px;
}
.thermometer {
    padding: 1%;
    border-radius: 7px;
    border: 5px solid;
    background-color: rgba(35, 221, 24, 0.54);
    border-color: #a4aa9e;
}
.order {
    padding: 1%;
    border: 5px solid;
    border-radius: 7px;
    background-color: rgba(240, 135, 137, 0.44);
    border-color: #a4aa9e;
}
.social {
    padding: 2%;
    text-align: center;
}

div.row {
    border: 0px solid;
}
.footer{
    background-color: #1b1b1b;
    text-align: center;
    color: azure;
}
.video-container {
    position: relative; /* keeps the aspect ratio */
    padding-bottom: 25%;
    padding-top: 60px; overflow: hidden;
}
.cool-font {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
.font-announce
     {
         font-family: Ubuntu;
         color: #2E2E2E;
         font-size: 15px;
         text-align: center;
         letter-spacing: 0pt;
         line-height: 1.2;
         padding: 8px;
         text-shadow: 0px 0px 3px #666666;
     }
.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 1%; left: 0; width: 100%; height: 100%;}

#cardsLabel {
    -webkit-animation-delay: 1s;
}
#profileLabel {
    -webkit-animation-delay: 1s;
}
#settings {
    -webkit-animation-delay: 1s;
}
#messeges {
    -webkit-animation-delay: 1s;

}