<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Really Simple HTML Email Template</title>

</head>

<body bgcolor="#f6f6f6">

<!-- body -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <p>Hi <%= username %> </p>
                            <p>Your password has been changed.</p>
                            <table>
                                <tr>
                                    <td class="padding">
                                        <p><strong>Username: </strong><%= username %></p>
                                        <p><strong>New Password: </strong><%= pass %></p>
                                    </td>
                                </tr>
                            </table>
                            <p>Please use the interim password to log in and set your password in Profile Settings</p>
                            <p>Very respectfuly,</p>
                            <p>Alexei</p>
                            <p><a href="http://twitter.com/suimojapan">Follow @suimojapan on Twitter</a></p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>Don't like these annoying emails? Reply with the subject "UNSUBSCRIBE".
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /footer -->

</body>
</html>