

p.lead {
    padding-top: 5px;
    text-align: right;
}
.navigation, .pitch, .section1, .section2, .faq {
    padding: 1% 0px 1% 0px;
}
.smallround {
    padding: 2px;
    border: 1px solid;
    border-color: #888888;
    border-radius: 3px;
}
.thermometer, .social {
    border: 0px dotted;
    border-color: #000000;
    text-align: center;
    background-color: azure;
}
.order {
    padding: 2%;
    text-align: center;
}

div.row {
    border: 0px solid;
}
.footer{
    background-color: #1b1b1b;
    text-align: center;
    color: azure;
}
.video-container {
    position: relative; /* keeps the aspect ratio */
    padding-bottom: 25%;
    padding-top: 60px; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 1%; left: 0; width: 100%; height: 100%;}
